<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf8">
<TITLE>Bahar BAD enclosure series</TITLE>
<STYLE>body {margin-left:20%; margin-right:20%} img {max-width:100%; border: 0px}</STYLE>
</HEAD>

<BODY LANG="en" DIR="LTR">
<P>This project template is the basis of an board design for the
<A HREF="{link}" TARGET="blank">{name}</A> enclosure.</P>
<P><IMG SRC="{name}.jpg" BORDER="0"></P>

<P>Board Dimensions: {pcb.width} mm x {pcb.height} mm</P>
<P>Outline:</BR><IMG SRC="brd.png" BORDER="0"></P>
<P>Contours and holes can be easily modified, just remove them and redraw what
you want in layer "Edge.Cuts".</BR>
Layer "User.Drawings" holds the info texts.</P>

<P>Drawing:</BR><IMG SRC="{name}_drawing.jpg" BORDER="0"></P>
<P>Copyright (c) 2021 Jochen Oberreiter.</P>
</BODY>
</HTML>